body{
    font-family: 'Roboto', sans-serif;
    background: lightgray;
}

#image {
    display: block;
    max-width: 100%;
    margin: auto;
    height: auto;
}

#main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: auto;
    text-align: center;
}

#img-div{
    background: white;
    margin-top: 20px;
    margin: 10px;
}